<!--프로필 헤더 부분-->
<div class="row profile-top container">
  <div class="profile-top-left col-xs-6 col-sm-4 col-lg-4">
  <span>
    <%=image_tag @user.profile_img, class: 'img img-circle profile-img'%>
  </span>
  </div>
  <div class="profile-top-right col-xs-6 col-sm-8 col-lg-8">
    <strong class="profile-name"><%=@user.name%></strong>
    <% if current_user == @user%>
    <%= link_to '프로필 편집', edit_user_url(@user), {class: "btn btn-default profile-edit" } %>
    <% end%>
    <div>
      <span class="profile-text">
        게시물 <%= @user.posts.size %>
      </span>
      <span class="profile-text">
        팔로우 0
      </span>
      <span class="profile-text">
        팔로워 0
      </span>
    </div>
  </div>
</div>

<!--프로필 바디 부분-->
<div class="profile-body">
  <div class="row">
    <% @posts.each do |post| %>
      <a href="<%=post_path(post.id)%>" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-bottom: 10px;">
        <%= image_tag post.img_path, style: 'width:100%'%>
      </a>
    <% end %>
  </div>
</div>
