<h1>Users</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td style="word-break:break-all;"><%= user.name %></td>
        <td><%= link_to '보기', user, class: 'btn btn-info' %></td>
        <td><%= link_to '수정', edit_user_path(user), class: 'btn btn-warning'%></td>
        <td><%= link_to '삭제', user, method: :delete, data: { confirm: '정말 삭제합니까?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '유저 생성', new_user_path, class:'btn btn-primary' %>
