<%= form_with(model: post, local: true, html: { multipart: true }, class: 'form-group') do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field post-title">
    <%= form.label :제목 %>
    <%= form.text_field :title, id: :post_title, class: 'form-control' %>
  </div>

  <div class="field post-content">
    <%= form.label :내용 %>
    <%= form.text_field :content, id: :post_content, class: 'form-control' %>
  </div>

  <div class="field post-img">
    <%= form.label :사진 %>
    <%= form.file_field :img_path, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "등록", class: 'btn btn-primary' %>
  </div>
<% end %>
