<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:20px">
  <div class="card">
    <div class="card-title">
      <span><%=image_tag post.user.valid_profile_img, class: 'img rounded-circle', style: 'width:20px;height:auto'%></span>
      <span><%= post.user.name %></span>
    </div>
    <%=image_tag post.img_path, class: 'card-img-top', style:'width:100%;height:auto;'%>
    <div class="card-body">
      <div class="card-text" style="padding-bottom:1rem">
        <%= render partial: 'like.html.erb', locals:{post: post}%>
      </div>
      <h4 class="card-text"> <%= post.title %></h4>
      <p class="card-text"><%= post.content %></p>
      <p class="card-text"><small class="text-muted"><%= "#{time_ago_in_words(post.created_at)} 전" %></small></p>
      <hr>
      <%= render partial: 'comment.html.erb', locals:{post: post}%>
      <%= form_tag comment_post_path(post), method: :post, class: 'comment-box', remote: true do %>
        <%= text_field_tag :comment, nil, class:'form-control', placeholder: '댓글쓰기..'%>
      <% end %>
    </div>
  </div>
</div>