<!DOCTYPE html>
<html>
  <head>
    <title>Snusta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, msg| %>
              <% if name=='alert'%>
                <div class="alert alert-danger" role="alert">
                  <%=msg%>
                </div>
              <% else %>
                <div class="alert alert-info" role="alert">
                  <%=msg%>
                </div>
              <% end %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
