<!DOCTYPE html>
<html>
  <head>
    <title>Snusta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, msg| %>
              <% alert_type = name=='alert' ? 'alert-danger': 'alert-notice'%>
              <%= content_tag(:div, msg, class: "alert #{alert_type}") %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
